In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import glob, os
import dask.dataframe as dd
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [ ]:
parquet_address_dic = {}
dates_tuple = tuple([f'202402'+str(i) if i>=10 else '2024020'+str(i)  for i in range(1,30)] + 
                    [f'202403'+str(i) if i>-10 else '2024030'+str(i)  for i in range(1,32)])
subfolders_dic = {'match':'raw_match_parquet',
                  'odds':'raw_odds_parquet',
                  'pbp':'raw_point_by_point_parquet',
                  'stats':'raw_statistics_parquet',
                  'power':'raw_tennis_power_parquet',
                  'votes':'raw_votes_parquet'
                  }
def render_addresses(subfolder:str, date_arr = None, kind:str = ""):
    result = []
    date_arr = dates_tuple if not date_arr else date_arr
    if kind:
        result = [file for dt in date_arr
        for file in glob.glob(f"Tennis Schema\\{dt}\\data\\raw\\{subfolders_dic[subfolder]}\\{kind}_[!s]*.parquet")]
    else:
        result = [file for dt in date_arr
        for file in glob.glob(f"Tennis Schema\\{dt}\\data\\raw\\{subfolders_dic[subfolder]}\\*.parquet")]
    return result
    
for i in range(1,30):
    formatted_i = "0" + str(i) if i<10 else str(i)
    parquet_address_dic[f'202402'+formatted_i] = glob.glob(f"Tennis Schema\\202402{formatted_i}\\data\\raw\\*")
for i in range(1,32):
    formatted_i = "0" + str(i) if i<10 else str(i)
    parquet_address_dic[f'202403'+formatted_i] = glob.glob(f"Tennis Schema\\202403{formatted_i}\\data\\raw\\*")

In [63]:
# Test
pd.concat([pd.read_parquet(address) for address in render_addresses('match', date_arr=["20240205"], kind='*_team')])

C:\Users\MehrSystem\AppData\Local\Temp\ipykernel_2628\2925203370.py:2: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  pd.concat([pd.read_parquet(address) for address in render_addresses('match', date_arr=["20240205"], kind='*_team')])

,match_id,name,slug,gender,user_count,residence,birthplace,height,weight,plays,turned_pro,current_prize,total_prize,player_id,current_rank,name_code,country,full_name
0,11998455,Bublik A.,bublik-alexander,M,8191,"Gatchina, Russia","Gatchina, Russia",1.96,76,right-handed,2014,203363,5125443,163480,21,BUB,Kazakhstan,"Bublik, Alexander"
0,11998773,Quinn E.,quinn-ethan,M,615,None,"Fresno, California",1.91,None,None,None,15501,190772,334293,291,QUI,USA,"Quinn, Ethan"
0,11999016,Nakashima B.,nakashima-brandon,M,3371,United States,"San Diego, CA, USA",1.88,77,right-handed,2020,55356,2697127,235576,90,NAK,USA,"Nakashima, Brandon"
0,11999218,Ugo Carabelli C.,ugo-carabelli-camilo,M,1988,Argentina,"Buenos Aires, Argentina",1.85,83,right-handed,None,56209,445947,196122,131,UGO,Argentina,"Ugo Carabelli, Camilo"
0,12002073,Alexandrova E.,alexandrova-ekaterina,F,4326,"Prague, Czech Republic","Chelyabinsk, Russia",1.75,66,right-handed,2010,252548,4928632,67759,17,ALE,Russia,"Alexandrova, Ekaterina"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,12046511,Saraiva dos Santos P.,saraiva-dos-santos-paulo-andre,M,223,None,Brasilia,1.80,None,None,None,533,18017,272506,956,SAR,Brazil,"Saraiva dos Santos, Paulo André"
0,12046513,Parizzia N.,parizzia-nicolas,M,151,None,None,NaN,None,None,None,631,20107,180948,1037,PAR,Switzerland,"Parizzia, Nicolas"
0,12047499,Tikhonova A.,tikhonova-anastasia,F,633,None,None,NaN,None,right-handed,None,23923,232621,240100,193,TIK,Russia,"Tikhonova, Anastasia"
0,12047771,Wang Xin.,wang-xinyu,F,3379,None,"Shenzhen, Guangdong Province, China",1.82,None,right-handed,2018,121043,2015161,227431,42,WAN,China,"Wang, Xinyu"
0,12048717,Zhang Z.,zhang-zhizhen,M,4461,"Shanghai, China","Shanghai, China",1.93,87,right-handed,2012,202013,1742837,75813,48,ZHA,China,"Zhang, Zhizhen"

In [ ]:
players_id_df = pd.concat([pd.read_parquet(address,columns=['player_id']) for address in render_addresses('match', kind='*_team')])

In [ ]:
players_height_df = pd.concat([pd.read_parquet(address,columns=['height']) for address in render_addresses('match', kind='*_team')])

In [74]:
df = pd.concat([pd.read_parquet(address) for address in render_addresses('match', date_arr=["20240205"], kind='away_team')])
df

C:\Users\MehrSystem\AppData\Local\Temp\ipykernel_2628\924868087.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([pd.read_parquet(address) for address in render_addresses('match', date_arr=["20240205"], kind='away_team')])

,match_id,name,slug,gender,user_count,residence,birthplace,height,weight,plays,turned_pro,current_prize,total_prize,player_id,current_rank,name_code,country,full_name
0,11998455,Bublik A.,bublik-alexander,M,8191,"Gatchina, Russia","Gatchina, Russia",1.96,76,right-handed,2014,203363,5125443,163480,21,BUB,Kazakhstan,"Bublik, Alexander"
0,11998773,Quinn E.,quinn-ethan,M,615,None,"Fresno, California",1.91,None,None,None,15501,190772,334293,291,QUI,USA,"Quinn, Ethan"
0,11999016,Nakashima B.,nakashima-brandon,M,3371,United States,"San Diego, CA, USA",1.88,77,right-handed,2020,55356,2697127,235576,90,NAK,USA,"Nakashima, Brandon"
0,11999218,Ugo Carabelli C.,ugo-carabelli-camilo,M,1988,Argentina,"Buenos Aires, Argentina",1.85,83,right-handed,None,56209,445947,196122,131,UGO,Argentina,"Ugo Carabelli, Camilo"
0,12002073,Alexandrova E.,alexandrova-ekaterina,F,4326,"Prague, Czech Republic","Chelyabinsk, Russia",1.75,66,right-handed,2010,252548,4928632,67759,17,ALE,Russia,"Alexandrova, Ekaterina"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,12046510,Menezes J.,menezes-joao,M,760,"Uberaba, Brazil","Uberaba, Brazil",1.85,81,right-handed,None,0,291665,121606,1135,MEN,Brazil,"Menezes, João"
0,12046511,Lucero J.,lucero-joel-angel,M,76,None,None,NaN,None,None,None,345,1812,130722,1445,LUC,Argentina,"Lucero, Joel Angel"
0,12047499,Rosatello C.,rosatello-camilla,F,714,None,"Saluzzo, Italy",NaN,None,right-handed,None,4421,213979,51651,315,ROS,Italy,"Rosatello, Camilla"
0,12047771,Bucsa C.,bucsa-cristina,F,2434,None,"Chisináu, Moldova",1.76,None,right-handed,2015,170009,1398872,99131,67,BUC,Spain,"Bucsa, Cristina"
0,12048717,Zeppieri G.,zeppieri-giulio,M,4082,Latina Italy,"Rome, Italy",1.83,78,left-handed,2019,117065,626802,237188,133,ZEP,Italy,"Zeppieri, Giulio"

In [183]:
event_addresses = render_addresses('match', date_arr=dates_tuple[:10], kind='event')
home_addresses = render_addresses('match', date_arr=dates_tuple[:10], kind='home_team')
away_addresses = render_addresses('match', date_arr=dates_tuple[:10], kind='away_team')
match_df = dd.read_parquet(event_addresses, columns=['match_id','winner_code'])
home_df = dd.read_parquet(home_addresses, columns=['match_id','player_id'])
away_df = dd.read_parquet(away_addresses, columns=['match_id','player_id'])
df_ = match_df.query('winner_code == 1').merge(home_df, on='match_id', how='left')
df_ = df_.drop(columns=['winner_code'])
df__ = match_df.query('winner_code == 2').merge(away_df, on='match_id', how='left')
df__ = df__.drop(columns=['winner_code'])
df____ = dd.concat([df_,df__])
df____ = df____.dropna()
df____ = df____.drop_duplicates()
df____.player_id = df____.player_id.astype(int)

In [184]:
df____.groupby('player_id').count().sort_values('match_id',ascending=False).compute()

           match_id
player_id
202572            9
94747             8
100341            7
115463            7
376006            6
...             ...
17017             1
232087            1
55067             1
222977            1
208166            1

[969 rows x 1 columns]

In [189]:
match_df.query('match_id == 12051670').compute()

   match_id  winner_code
0  12051670            2
0  12051670            2

In [ ]:
home_df.query('player_id == 202572').compute()

   match_id  player_id
0  12038552     202572
0  12038552     202572
0  12053941     202572
0  12053941     202572
0  12056235     202572
0  12056235     202572
0  12058257     202572

In [186]:
away_df.query('player_id == 202572').compute()

   match_id  player_id
0  12021807     202572
0  12024254     202572
0  12024254     202572
0  12026792     202572
0  12026792     202572
0  12048711     202572
0  12048711     202572
0  12051670     202572
0  12051670     202572